.navbar-fixed{
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: -webkit-sticky;
    border-bottom: 1px solid black;
}
ul{
    margin: 0px;
    padding: 0px;
    background-color:cadetblue;
    height: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 36px;
    list-style-type: None;
}
li{
    /* background-color: darkkhaki; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* color: cornsilk; */
    /* text-align: center; */
    /* //text-shadow: black; */
    padding: 0px 0px 0px 0px;
    border-right:1px solid black;
    float: right;
}
a{
   display: block;
   padding: 0px 36px;
   color: black;
   text-decoration: none;
}

a:hover{
   background-color:violet;
}
a.active{
    background-color: teal;
}
.float-left{
    float: left;
    color:white;
    align-items: left;
    /* padding: 0px 10px 0px 10px; */
}
.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("D:\Newon School Data\HTML and CSS\Website making\First Project\Portfolio Website\Styles\Assets\5_6237666241901757071.JPG");
    background-position: center;
    background-size: cover;

}
.about-section h2{
    color: var(--cl-primary);
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
}
header{
    background : var(--cl-primary);
    top: 0px;
    left: 0px;
    left: 0px;
    position: fixed;
}
nav{
    position: fixed;
}
.projects-section{
    background-color: blanchedalmond;
}


.Container{
    margin-left: 5vh;
    margin-right: 5vh;
     width: 100%;
     padding-top: 36px;
    display: flex;
    flex-direction: row;
    background-color: white;

}
.left-float{
    float: left;
    color: black;
    background-color:white;
    width: 60%;
    height: 100vh;
}

.outer-box{
    border: 1px solid black;
    padding-left: 5vh;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: row;
}
.inner-text{
    align-items: center;
    justify-content: center;
    /* padding-left: 25vh; */
    /* padding-top: 50vh; */
    padding-left: 35vh;
    padding-bottom: 60svh;
}
h2{
    opacity: 0.7;
}
.myclicks{
    display: flex;
    color:white;
    border: 2px solid black;
    border-radius: 10px;
    width: 26vh;
    background-color: blue;
}
body{
    font-family: 'Roboto condensed', sans-serif;
    margin:0px;
    background-color:white;
    height: auto;
    width: 100%;
}
.right-float{
    float: right;
    color: blue;
    /* background-color:none; */
    width: 30%;
    height: 100vh;
    margin-right: 5vh;

}

.image-edit{
   height: 100vh;
   width: 100%;
}
.float-image{
    align-items: flex-end;
}
.logo{
    padding-left: 33vh;
    padding-top: 45vh;
}
.container2{
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    background-color: black;
    /* margin-left: 5vh; */
    margin-right: 5vh;
}


.container3{
    /* margin-top: 5vh; */
    margin-right: 10vh;
    /* margin-left: 5vh; */
    background-color: teal;
    height: 300px;
    width: 100%;
}
.image1{
    height: 100vh;
    width: 100%;
}