@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --background-color:#333647;
    --pink-color: #F87652;
    --secondary-color:#bbbbbb;
    --bg-color-of-lists-in-skills-section: #818180;
    --card-bg-color : #232432;
    --bg-color-for-form-input: #ffffff24;
    --border-color-for-form-inputs: #c4c4c44a;

}


/* for font-family which is globally :-moz-user-disabled */
*{
    font-family: 'Poppins', sans-serif;
}

body{
   background-color: var(--background-color) !important;
}
h1,h2,h3,h4,h5,h6,p,a,td,span{
    cursor:pointer;
}
canvas.particles-js-canvas-el{
    position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    margin: 0px;
}

/* Navbar Style */

.nav_section .navbar-brand{
    color: white;
    font-size: 22px;
}
.nav_section .navbar-brand span{
    color: white;
}
.nav_section .navbar-brand span image{
    border-color: var(--pink-color);
}
.nav_section .navbar-nav li{
    margin: 0px 8px;
}
.nav_section .navbar-nav li a{
    color: white !important;
    font-size: 15px;  
}
.nav_section .navbar-nav .nav-link::before{
    content: '';
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
    border-radius: 1px;
}
.nav_section .navbar-nav .nav-link:hover::before{
    content: '';
    width: 17px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
}



/* Hero Section  */
.hero_section .row{
    display: flex;
    align-items: center;
    height: 100vh;

}
.hero_section .row h1,h2,h3,p{
    color: white;
}
.hero_section .row h3{
 font-size: 19px;
 font-weight: 300;
 margin-bottom: 15px;
}
.hero_section .row h3::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 90px;
    height: 2px;
    text-align: center;
    background-color: white ;
    margin-left: 6px;
    border-radius: 3px;
}
.hero_section .row h1{
    font-size: 65px;
    font-weight: 800;
}
.hero_section .row h2{
    font-size: 20px;
    font-weight: 100;
    margin: 8px 0px ;
}

.hero_section .row p{
    font-size: 13px;
    margin-top: 13px;
    line-height: 21px;
    color: var(--secondary-color);
}
.hero_section .row button{
    border-radius: 10px;
    background-color: var(--pink-color);
    font-size: 19px;
    border: 3px solid var(--pink-color);
    width: 113px;
    font-family: 'Poppins'sans-serif;
    margin-top: 10px;
}
.hero_section .row button:hover{
    animation:swing;
    animation-duration: 0.5s;
    background-color: white;
    color: black;
    border: white;

}

.hero_section .row img{
    width: 80%;
    border: 2px solid black;
}
/* .img_edit{
    border: 3px solid black;
    padding: 2px;
} */


/* Media adjustment for responsive design for Hero Section */
@media (max-width: 1200px) and (min-width: 993px) {
    .hero_section .row h1{
        font-size:  58px;
    }
}
@media (max-width: 993px) and (min-width: 763px) {
    /* .hero_section{
        margin: 135px 0px;
    } */
    .hero_section .row h1{
        font-size: 42px;
    }
    .hero_section .row h2{
        font-size: 15px;
    }
    .hero_section .row h3{
        font-size: 15px;
    }
    .hero_section .row p{
        font-size: 11px;
    }
    .hero_section .row button{
        font-size: 15px;
    }
}
@media (max-width: 763px) and (min-width: 500px) {
     .hero_section{
         margin: 135px 0px;
     }
    .hero_section .row h1{
        font-size: 46px;
        text-align: center;
    }
    .hero_section .row h2{
        font-size: 15px;
        text-align: center;
    }
    .hero_section .row h3{
        font-size: 15px;
        text-align: center;
        margin-bottom: 0px;
    }
    .hero_section .row h3::after{
        width: 0px;
    }
    .hero_section .row p{
        font-size: 11px;
        text-align: center;
    }
    .hero_section .row button{
        font-size: 15px;

    }
    .hero_section .btn_container{
        align-items: center;
        text-align: center;
    }
    .hero_section img{
        justify-content: center;
        width: 60%;
        margin-top: 20px;
        margin-left: 50px;
        border-radius: 50%;
        
    }
    
}





/* About Us section */
.about_section{
    background-color: #282a39;
    padding: 170px 0px; 
}
.about_section #heading{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 57px;

}
.about_section .lets_talk{
    color: white;
    font-weight: 400;
    font-size: 20px;

}
.about_section #info_gmail{
    font-weight: 600;
    font-size: 15px;
    color: var(--pink-color) !important;
    margin-top: 35px;
    word-spacing: 6px;
}
.about_section .contact_info{
    margin-top: 15px;
}
.about_section .contact_info h5{
    color: white;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 6px;

}
.about_section .about_me_content #text{
  font-size: 15px;
  margin-top: 13px;
  line-height: 25px;
  color: var(--secondary-color);
}
.about_section .about_me_content hr{
    margin: 0px;
    border: 0.5px solid var(--pink-color);
    width: 6rem;
}
.about_section .about_me_content table td{
    border: none;
    color: white;
    font-size: 13px;
}
.about_section .about_me_content button{
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background-color: var(--pink-color);
    border: 3px solid var(--pink-color);
    font-family: 'Poppins'sans-serif;
    margin-top: 10px ;
}
.about_section .about_me_content button:hover{
   animation: swing;
   animation-duration: 0.5s;
   /* color: #bbbbbb; */
   background-color: white;
   border-color: white;
   color: black;
}


/* Media adjustment for responsive design  for about section*/
@media (max-width: 993px) and (min-width: 768px){
    .about_section .about_me_content #text{
        font-size: 12px;
    }
    .about_section #heading
    {
        font-size: 28px !important;


    }
}




/* Skills - Section  */
.skills_section{
    padding: 100px 0px;
}

.skills_section .skills_section_left_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills_section #heading{
    font-weight: 600;
    font-size: 50px;
}
.skills_section hr{
    border: 0.5px solid var(--pink-color);
    width: 6rem;
    margin: 12px 0px;

}

.skills_section p{
    color: var(--secondary-color);
    font-size: 13px;
    
}
.skills_section .social_media_icons .list-group-item{
    border: none;
    color: white !important;
    border-left: 2px solid var(--pink-color);
    border-radius: 0px;
    margin: 5px 0px;
    width: 208px;
    background-color: var(--bg-color-of-lists-in-skills-section);
}
.skills_section .social_media_icons .list-group-item a{
    transition: 0.5s;
}
.skills_section .social_media_icons .list-group-item:hover a{
    margin-left: 10px;
}

.skills_section_right_section .each_skills{
    margin: 25px 0px;
}
.skills_section_right_section .each_skills span{
    color: white;
    font-size: 14px; 
}
.skills_section_right_section .each_skills .progress
{
    background-color: var(--bg-color-of-lists-in-skills-section);
    border-radius: 100px;
    margin-top: 3px ;
    height: 10px;

}
.skills_section_right_section .each_skills .progress-bar{
    background-color: var(--pink-color);
}



 /* Portfolio tabs Section */
/*.tabs_center{
   display: flex;
   flex-direction: row;
   align-items: center;

} */
.portfolio-section{
    /* background: #282A39; */
    padding-top: 170px;
    /* margin-top: 170px;
    width: 100%;
    height: auto; */
}

.portfolio-section .nav-tabs{
    border: none;
    width: 30%;
    text-align: center;
}
.portfolio-section .nav-tabs .nav-link{
    color: white;
}

.portfolio-section .nav-tabs .nav-link.active{
    border: none;
    color:white !important;
    border-bottom: 2px solid var(--pink-color) !important;
    background: transparent;
}

.portfolio-section .nav-tabs .nav-link.active:hover{
    border-bottom: 2px solid var(--pink-color) !important;

}
.portfolio-section .nav-tabs .nav-item.show .nav-link{
    font-weight: 400;
    font-size: 14px;
    background: transparent !important;
}

.portfolio-section .nav-tabs .nav-link:hover{
    border: none;
}

.portfolio-section .tab-content .card img{
    border: 2px solid white;
}




 
/* Blogs section */
.blogs_section{
 /* background-color: #282A39; */
 padding-bottom: 170px;
 padding-top: 70px;
}

.blogs_section .card{
    background : var(--card-bg-color) ;
}

.blogs_section .card:hover{
    animation:pulse;
    animation-duration: 0.5s;
}

.blogs_section .card-body .title{
    font-size: 22px;
    font-weight: 500;
}
.blogs_section .card-body .date
{
    font-size: 11px;
}
.blogs_section .card-body .date span{
    color: var(--pink-color);
}
.blogs_section .card-body .txt{
    font-size: 12px;
    color: var(--secondary-color);
}

.blogs_section .card-body a{
    color: var(--pink-color);

}



/* About me Section  */
.contact_section{
    /* background: #282a39;  */
     padding-bottom: 170px;
}


.contact_section .heading{
    font-size: 50px;
    font-weight: 500px;
}
 
.contact_section hr{
    border: 0.5px solid var(--pink-color);
    width: 6rem;
    margin: 12px 0px;
}

.contact_section p{
    color: var(--secondary-color);
    font-size: 13px;
}

.contact_section form .form-control{
   background: var(--bg-color-for-form-input);
   border: 2px solid var(--border-color-for-form-inputs);
   border-radius: 0px;
   color: white;
}

.contact_section form button{
    background: var(--pink-color);
    border: 2px solid var(--pink-color);
    color: white;
    width: 100px;
    font-size: 15px;
}
.contact_section form button:hover{
    animation : swing ;
    animation-duration: 0.5s;
}

.contact_section ul li{
    color: white;
    font-size: 15px;
    margin-bottom: 12px;
}

.contact_section ul li .fa{
    color: var(--pink-color);
}

@media (max-width: 991px) and (min-width: 768px){
    .contact_section .heading{
        font-size: 42px;
    }
}

/* Education Section  */
.education_section{
   /* padding: 100px 0px; */
   background-color: #232432;
   border: 2px solid whitesmoke;
}

.table_section .heading{
  
}
.table_section{
    /* margin: 10px; */
    /* align-content: center; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    padding-left: 30px;
    /* padding-top: 20px; */
}
.edu_table{
    height: 500px;
    width: 1000px;
    color: whitesmoke;
    border: 2px solid #bbbbbb;
}

@media (max-width: 991px) and (min-width: 768px){
    .edu_table{
        height: 500px;
        width: 600px;
       
    }
    .table_section{
        height: 500px;
        width: 900px;
        /* margin-top: 100px; */
        /* padding-left: 50px; */
        /* align-content: center;
         */
         /* justify-content: center; */
       padding-left: 30px;
    }
}

@media (max-width: 768px) and (min-width: 400px){
    .edu_table{
        height: 300px;
        width: 400px;
        /* color: whitesmoke; */
    }
    .table_section{
        height: 450px;
        width: 300px;
        /* margin-top: 100px; */
        padding-left: 10px;

    }

}



/* Footer-Area  */
.footer-area{
    border-top: 2px solid var(--border-color-for-form-inputs);
    padding: 40px 0px;

}

.footer-area .navbar-brand {
    font-size: 23px;
}

.footer-area p{
    margin-top: 13px;
    color: var(--secondary-color);
    font-size: 12px;
}

.footer-area .logo-area .fa{
    color: var(--pink-color);
    font-size: 17px !important;
    border: 2px solid var(--pink-color);
    padding: 10px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;

}
.footer-area .logo-area .fa:hover{
    animation: swing ;
    animation: duration 0.5s;
    background: white;
}
.footer-area .row .column .heading{
    font-weight: 400 !important;
    font-size: 21px;
    color: white;
} 

.footer-area .list-group .list-group-item{
    margin: -3px 0px;
    color: white;
    transition: 0.5s
    !important;
}
.footer-area .list-group .list-group-item i{
    font-size: 10px;
    color: var(--pink-color);
    transition: 0.5s;

}
.footer-area .list-group .list-group-item:hover i{
    padding-right: 10px;
}


@media (max-width: 768px) and (min-width: 500px){
    .footer-area .links{
        margin-bottom: 30px;
    }
    .footer-area .row .column .heading{
        font-size: 17px !important;

    }
    .portfolio-section .list-group{
        margin-bottom: 30px;
    }


}





















